


<div class="text-layout">
    <h1>Pipes Básicos</h1>

    <p>
        Pipes incluídos en Angular - en el CommonModule
    </p>
</div>


<div class="grid">
    <div class="col-4">
        <p-card 
            header="UpperCase"
            [subheader] = "nombre | uppercase"
            >        
                {{ nombre | uppercase }}
        </p-card>
    </div>

    <div class="col-4">
        <p-card 
            header="LowerCase"
            [subheader] = "nombre | lowercase"
            >        
                {{ nombre | lowercase }}
        </p-card>
    </div>

    <div class="col-4">
        <p-card 
            header="TitleCase"
            [subheader] = "nombre | titlecase"
            >        
                {{ nombre | titlecase }}
        </p-card>
    </div>

    <div class="col-4">
        2
    </div>

    <div class="col-4">
        3
    </div>
</div>